<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Required</th>
      <th>Unit</th>
      <th>Done</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @shopping_list_items.each do |shopping_list_item| %>
      <tr>
        <td><%= shopping_list_item.product.title %></td>
        <td><%= shopping_list_item.required %></td>
        <td><%= shopping_list_item.unit.title %></td>
        <td><%= shopping_list_item.done %></td>
        <td><%= link_to 'Edit', edit_shopping_list_shopping_list_item_path(shopping_list_item.shopping_list_id, shopping_list_item.id) %></td>
        <td><%= link_to 'Destroy', shopping_list_shopping_list_item_path(shopping_list_item.shopping_list_id, shopping_list_item.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_shopping_list_shopping_list_item_path %>
