<h1>Listing products</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Required</th>
      <th>Unit</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products_recipes.each do |products_recipe| %>
      <tr>
        <td><%= products_recipe.product.title %></td>
        <td><%= products_recipe.required %></td>
        <td><%= products_recipe.unit.title %></td>
        <td><%= link_to 'Destroy', recipe_products_recipe_path(products_recipe.recipe_id, products_recipe.product_id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_recipe_products_recipe_path %>
