<!DOCTYPE html>
<html>
<head>
  <title>Жраки</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <% if current_user %>
    Welcome, <%= current_user.name %>!
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sing up", new_user_registration_path %>
    <%= link_to "Sign in", new_user_session_path %>
    <%= link_to "Sign in with Trello", "/auth/trello" %>
    <%= link_to "Sign in with Facebook", "/auth/facebook" %>
    <%= link_to "Sign in with Vkontakte", "/auth/vkontakte" %>
  <% end %>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
